/var/log/{{ BOT_NAME }}/*.log {
    weekly
    missingok
    rotate 52
    compress
    notifempty
    create 0640 {{ BOT_USER }} {{ BOT_GROUP }}
    sharedscripts
    postrotate
       /usr/bin/systemctl restart {{ BOT_NAME }}
endscript
}
