/var/log/gunicorn_{{ website_domain_name }}/*.log {
    weekly
    missingok
    rotate 5
    compress
    notifempty
    create 0750 {{ USER }} {{ USER }}
    sharedscripts
    postrotate
       /usr/bin/systemctl restart gunicorn_{{ website_domain_name }}.service
       /usr/bin/systemctl restart gunicorn_{{ website_domain_name }}.socket
endscript
}

