/var/log/gunicorn_{{ website_name }}/*.log {
    weekly
    missingok
    rotate 5
    compress
    notifempty
    "create 0660 {{ USER }} {{ USER }}"
    sharedscripts
    postrotate
       /usr/bin/systemctl restart gunicorn_{{ website_name }}.service
       /usr/bin/systemctl restart gunicorn_{{ website_name }}.socket
endscript
}

